/* body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10rem;
    gap: 2rem;
}
.box{
    height: 200px;
    width: 300px;
    background-color: pink;
} */

/* .content{
    color: white;
    background-color: black;
    display: inline-block;
}

.newClass{
    color: aqua;
    background-color: pink;
    display: block;
} */